.card-button-right{ 
    margin-left: auto;
}
.clickable {
    cursor:pointer;
}
.left {
    float: left;
}
.no-text-decoration {
    text-decoration: none;
}
.list-card-title {
    cursor: pointer;
    margin-right:50px;
}
.card-description-text {
    min-height: 50px;
}
.small-chip {
    height: 14px;
    font-size: 7pt;
}
.positive-chip span {
    padding-left: 5px;
    padding-right: 5px;
}
.button-h5-chip {
    position: absolute;
    margin: 0;
    left: 0;
    top: -14px;
}