@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--colorAnnouncement: #6a8469;
	--colorAnnouncementText: #fffffe;
	--colorBody: #fefefe;
	--colorBodyAlpha05: rgba(254, 254, 254, 0.05);
	--colorBodyDim: #f1f1f1;
	--colorBodyLightDim: #f9f9f9;
	--colorBodyMediumDim: #f4f4f4;
	--colorBorder: #1c1b19;
	--colorBtnPrimary: #d62a2f;
	--colorBtnPrimaryLight: #de5559;
	--colorBtnPrimaryDim: #c1252a;
	--colorBtnPrimaryText: #fffffe;
	--colorCartDot: #d62a2f;
	--colorDrawers: #2f2c2f;
	--colorDrawersDim: #222022;
	--colorDrawerBorder: #fafafa;
	--colorDrawerText: #fefefe;
	--colorDrawerTextDark: #d8d8d8;
	--colorDrawerButton: #d62a2f;
	--colorDrawerButtonText: #fffffe;
	--colorFooter: #2f2c2f;
	--colorFooterText: #fefefe;
	--colorFooterTextAlpha01: #fefefe;
	--colorGridOverlay: #000000;
	--colorGridOverlayOpacity: 0.1;
	--colorHeaderTextAlpha01: rgba(254, 254, 254, 0.1);
	--colorHeroText: #fffffe;
	--colorSmallImageBg: #ffffff;
	--colorLargeImageBg: #1c1b19;
	--colorImageOverlay: #1c1b19;
	--colorImageOverlayOpacity: 0.1;
	--colorImageOverlayTextShadow: 0.2;
	--colorLink: #1c1b19;
	--colorModalBg: #c2c2c2;
	--colorNav: #2f2c2f;
	--colorNavText: #fefefe;
	--colorPrice: #1c1b19;
	--colorSaleTag: #1c1b19;
	--colorSaleTagText: #fffffe;
	--colorTextBody: #1c1b19;
	--colorTextBodyAlpha015: rgba(28, 27, 25, 0.15);
	--colorTextBodyAlpha005: rgba(28, 27, 25, 0.05);
	--colorTextBodyAlpha008: rgba(28, 27, 25, 0.08);
	--colorTextSavings: #d62a2f;
	--grid-gutter: 17px;
	--drawer-gutter: 20px;
	--sizeChartMargin: 25px 0;
	--sizeChartIconMargin: 5px;
	--newsletterReminderPadding: 40px;
	--color-body-text: #1c1b19;
	--color-body: #fefefe;
	--color-bg: #fefefe;

	--typeHeaderSize: 36px;
	--typeHeaderWeight: 900;
	--typeHeaderLineHeight: 1;
	--typeHeaderSpacing: 0em;
	--typeBaseSize: 17px;
	--typeBaseWeight: 600;
	--typeBaseSpacing: 0.025em;
	--typeBaseLineHeight: 1.5;
	--typeBaselineHeightMinus01: 1.4;
	--typeCollectionTitle: 20px;
	--iconWeight: 6px;
	--iconLinecaps: miter;
	--buttonRadius: 0;
	--colorGridOverlayOpacity: 0.1;
}

@media (prefers-color-scheme: white) {
	:root {
		--foreground-rgb: 255, 255, 255;
	}
}

body {
	color: rgb(var(--foreground-rgb));
}
